.page-header {background-color: #FFFFFF;

}
.list {
  list-style: none;
}
.logo {
  color: #2196F3;
}
.site-nav  .link  {color: #212121;}
.site-nav .link-current {color: #2196F3;
}

.auth-nav  .link  {color: #212121;}
.auth-nav .link-current {color: #2196F3;
}
.main-part{
  background-color: #FFFFFF;
}
.main-section{list-style: none;

}
.button{background-color: #2196F3;
  color: #FFFFFF;
}
.other-buttons{background-color: #F5F4FA;
color: #212121;
}
.feauters-main{
  color: #212121;
}
.feauters-main-list{list-style: none;

}
.varieties{
  color: #757575;
}

.work-title {background-color: #2F303A;}

.option {background-color: #E5E5E5;
}
.option-first {color: #212121;}
.option-second { color: #757575;}

.work-final {color: #FFFFFF;}