:root {
  --brand-color: #2196f3;
  --title-text-color: #212121;
  --accent-color: white;
}
.page {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;

}
.page-header {
  background-color: var(--accent-color);
  text-decoration: none;
  list-style: none;
  padding-top: 32px;
 
}
.container {
 width: 1600px;
align-items: center;
display: flex;
padding-top: 32px;
}

.logo {
  color: var(--brand-color);
  font-style: normal;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 215px;
  align-items: center;
}
.site-nav-list .link {
  margin-left: 420px;
}
.logo-color {
  color: var(--title-text-color);
}
.logo-color-white {
  color: var(--accent-color);
}

.site-nav-list,
.auth-nav-list {
  text-decoration: none;
  list-style: none;
  align-items: center;
  
}

.site-nav-list li   {
margin-right: 50px;

}
.auth-nav-list-container {
  align-items: center;
 

}
html {
  box-sizing: border-box;
}

.link-info {
  text-decoration: none;
  font-style: normal;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
}
.link-info-size {
  text-decoration: none;
  font-style: normal;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  align-items: center;
}
.link-follow {
  text-decoration: none;
  font-style: normal;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-current {
  text-decoration: none;
  font-style: normal;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-active {
  text-decoration: none;
  font-style: normal;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  color: var(--brand-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
a:hover {
  cursor: pointer;
  color: var(--brand-color);
}
a:focus {
  color: var(--brand-color);
}
button:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--accent-color);
}
button:focus {
  background-color: var(--brand-color);
  color: var(--accent-color);
}

.section {
  width: 1200px;
}
.section li {
  display: block;
  border-radius:  4px;
  border-bottom: solid #403f46;
  border-color:  #b3aeae;
margin-bottom: 94px;
padding-inline:  10px;
align-items: center;
margin-left: auto;
height: 368px;
width: 270px;
}
.option-first-next .option-second {
 
}
.work{
  margin-top: 94px;
}
.option-first-main{
 padding-top:  94px;
}
.work-title-classification {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  height: 600px;
  margin-bottom: 30px;
}
.work-title {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  height: 350px;
  padding-top: 60px;
  margin-bottom: 20px;
}
.work-title a {
  margin-left: 215px;
}
.parameters {
  padding-top: 200px;
  margin-top: 30px;
  height: 120px;
  text-align: center;
}
.button {
  background-color: var(--brand-color);
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
}
.button {
  margin-top: 160px;
  margin-left: 500px;
  text-align: center;
  align-items: center;
}
.features .box {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;

}
.features-title-list {
  list-style: none;
  padding-inline: 7px;
  padding-left: 7px;
}

.section {
  display: inline;
}
ul li {
  display: inline-block;
  flex-direction: row;
  text-align: center;
}
.feauters ul {
 display: inline-flex;
 text-align: center;
}
.section-features{
  display: flex;
flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}
.features-section-container{
  display: flex;
  display: inline-block;
  width: 270px;
  height: 75px;
  flex-direction: column;
  
}
.features-section-container li {

}

.features-title-list-text{
  list-style: none;
  padding-inline: 7px;
  padding-left: 7px;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.section li {
  display: inline-block;
  flex-direction: row;
  text-align: center;
}
.features-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features ul li {
  flex-direction: column;
}
 
}
.feauters-idea {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work {
  background-color: #f5f4fa;
}

.option {
  background-color: #e5e5e5;
}
.option-first-main {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.option-first {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.option-first-next {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.option-second {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline;
}

.work-final {
  color: var(--brand-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.work-final-end {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.work-final-last {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

/* Styles for Portfolio folder */
.page-style {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  background-color: var(--accent-color);
  color: #212121;
}

.main-part {
  background-color: var(--accent-color);
}
.main-section-button  {
  list-style: none;
  align-items: center;
  padding-inline: 8px;
  margin-left: 360px;
  margin-top: 94px;
  margin-bottom: 50px;

}
.main-section-size{
  align-items: center;
}
.main-section-button .link {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-section-button{
  align-items: center;
}
.main-section-button .link:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--accent-color);
}
.main-section-button .link:focus {
  background-color: var(--brand-color);
  color: var(--accent-color);
}

.button {
  color: var(--accent-color);
  background-color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-second {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}
.feauters-main {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
.feauters-main-list {
  list-style: none;
  width: 370px;
  height: 404px;
  border: 1px solid #f0e8e8;
  padding-inline: 3px;
  margin-bottom:  30px;
  align-items: center;
}
.feauters-main-list-content{
 align-items: center;
 justify-content: space-between 1px;
 box-sizing: border-box;
 
}

.feauters-main-list li {
  display: inline-block;
}
.varieties {
  color:  #757575;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
