.work-title {
  background-color: #2f303a;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-wrapper {
  margin-right: 70px;
}
.work-final {
  color: var(--brand-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.address {
  margin-top: 20px;
}

.work-final-end {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: flex;
  margin-bottom: 9px;
}
.social-links {
  display: flex;
  flex-direction: column;
}

.social-list .social-media {
  fill: white;
}
.social-media {
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill, color;
}
.social-media:hover,
.social-media:focus {
  background-color: #2196f3;
}

.features-list .social-media-icons {
  display: flex;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;

}
.social-media:hover .social-media-icons,
.social-media:focus .social-media-icons {
  fill: white;
}


