
.contacts {
  border-color: #e5e5e5;
  text-align: center;
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
}
.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.contacts-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.contacts-icon:hover,
.contacts-icon:focus {
  fill: #2196f3;
}
.contacts-link {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}
.contacts-link:hover,
.contacts-link:focus {
  border-color: #2196f3;
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: #2196f3;
}

.contacts-item {
  padding-right: 0;
  padding-left: 0;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.contacts-item:last-child {
  margin-right: 0;
}