/* header contacts */
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-list-item {
  margin-right: 50px;
}
.contacts-list-item:last-child {
  margin-right: 0px;
}

.link-info {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-info:hover,
.link-info:focus {
  color: var(--brand-color);
}

.link-follow {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}

.link-active {
  text-decoration: none;
  font-style: normal;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
