.features-list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.features-item {
  margin-bottom: 30px;

  @include mq(mobile-only) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(tablet) {
    width: 354px;
    margin-right: 30px;
  }

  @include mq(desktop) {
    width: 270px;
  }
}
.features-wrapper {
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  display: block;
}

.features-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feauters-idea {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
