.footer {
  background-color: var(--title-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.web-footer {
  color: var(--brand-color);
}
.list-footer {
  list-style-type: none;
}
.list-footer > li:not(:first-child) {
  margin-top: 9px;
}
.emblema-footer {
  font-weight: bold;
  font-family: var(--fontsecondary);
  text-decoration: none;
  color: var(--accent-color);
  font-size: 26px;

  margin-bottom: 20px;
}
.emblema-footer:hover,
.emblema-footer:focus {
  color: var(--accent-color);
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include mq(tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  @include mq(desktop) {
    text-align: start;
    align-items: baseline;
  }
}
.connect-street {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-right: 70px;
  }
  @include mq(desktop) {
    margin-bottom: 0;
  }
}
.div-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include mq(tablet-only) {
    margin-left: 150px;
    justify-content: center;
  }
}
.basement-wrapper {
  @include mq(tablet) {
    display: flex;
    align-items: baseline;
  }
  @include mq(notDesktop) {
    margin-bottom: 60px;
  }
}
.connect-links {
  display: flex;
}
.connect-links-items {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.connect-heading {
  color: var(--accent-color);
  font-family: var(--fontbase);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.letter {
  font-style: normal;
  margin-top: 20px;
}
.links-items {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--brand-color);
    background-color: var(--brand-color);
  }
  &:hover .svg,
  &:focus .svg {
    fill: var(--accent-color);
  }
}

.subscribe {
  @include mq(desktop) {
    margin-left: 93px;
  }
  @include mq(tablet) {
    width: 450px;
  }
}
.subscribep {
  font-family: var(--fontbase);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.subscriber-emeil {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(desktop) {
    flex-direction: row;
    align-items: baseline;
  }
}
.emailinput {
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  position: relative;
  color: var(--accent-color);
  padding-left: 16px;
  margin-bottom: 20px;

  &::placeholder {
    font-family: var(--fontbase);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
  }
}
.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  color: var(--accent-color);
  font-size: 16px;
  cursor: pointer;
  border: 0cm;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  margin-left: 12px;
  padding: 29px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.subcribe-svg {
  margin-left: 10px;
  fill: white;
}
.street {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-bottom: 9px;
  
}
.svg-basement {
  display: block;
  height: 20px;
  width: 20px;
  fill: var(--accent-color);
}
