.work-title {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
}

// // .web-basment {
//   color: var(--bluecolor);
// }
// .list-basment {
//   list-style-type: none;
// }
// .list-basment > li:not(:first-child) {
//   margin-top: 9px;
// }
// .emblema-basment {
//   font-weight: bold;
//   font-family: var(--fontsecondary);
//   text-decoration: none;
//   color: var(--whitetext);
//   font-size: 26px;

//   margin-bottom: 20px;
// }
// .emblema-basment:hover,
// .emblema-basment:focus {
//   color: var(--whitetext);
// }
// .contacts-basment {
//   color: var(--whitesix);
//   text-decoration: none;
//   font-style: normal;
//   font-weight: 400;
//   transition: color var(--animation);
//   &:hover,
//   &:focus {
//     color: var(--bluecolor);
//   }
// }

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include mq(tablet) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  @include mq(desktop) {
    text-align: start;
    align-items: baseline;
  }
}

.footer-wrapper {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-right: 70px;
  }
  @include mq(desktop) {
    margin-bottom: 0;
  }
}
.social-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include mq(tablet-only) {
    margin-left: 150px;
    justify-content: center;
  }
}

.container-wrapper {
  @include mq(tablet) {
    display: flex;
    align-items: baseline;
  }
  @include mq(notDesktop) {
    margin-bottom: 60px;
  }
}
.social-links {
  display: flex;
}
.social-list-item {
  margin-right: 10px;
}
&:last-child {
  margin-right: 0px;
}
.social {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
  // margin top?

  margin-top: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}
&:hover,
&:focus {
  border-color: rgba(33, 150, 243, 1);
  background-color: rgba(33, 150, 243, 1);
}
&:hover .svg,
&:focus .svg {
  fill: var(--accent-color);
}

/* subscription */
.subscribe {
  @include mq(desktop) {
    margin-left: 93px;
  }
  @include mq(tablet) {
    width: 450px;
  }
}

.subscription-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.subscription-box {
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(desktop) {
    flex-direction: row;
    align-items: baseline;
  }
}

.subscription {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  font-size: 16px;
  line-height: 1.25;

  &::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.subscription-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  border: 0cm;
  border-radius: 4px;
  margin-left: 12px;
  padding: 29px 10px;
}

.subscription__icon {
  fill: #ffffff;
  margin-left: 10px;
}
