
.link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--title-text-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--brand-color);
}
.link-current {
  color: var(--brand-color);
}
/* current link decoration */
.link-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-info:hover .header-icon,
.link-info:focus .header-icon {
  fill: #2196f3;
}
