

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(0, 0, 0, 1);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-close {
  display: block;
   transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 .modal-button:hover .close-btn {
background-color:  white;
fill: rgba(33, 150, 243, 1);
} 

/* styles for madal window */
.modal:before {
  content: '';
  width: 250px;
  min-height: 415px;
  flex-shrink: 0;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.modal__form {
  background-color: #fff;
}
.form {
  width: 528px;
  padding: 40px;
  border-radius: 4px;
}
.form__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form__label {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__label--bottom {
  margin-bottom: 20px;
}
.form__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color, fill, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover,
.form__input:focus,
.form__input:focus-visible {
  border-color: #2196f3;
}
.form__input:focus-visible {
  outline: 1px solid #2196f3;
}
.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: #2196f3;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
}
.form__message {
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

  resize: none;
}
.form__message:placeholder {
  color: rgba(117, 117, 117, 0.5);
}


.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox__link {
  text-decoration-style: solid;
  color: #2196f3;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}
.checkbox-input {
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-input {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox__text{

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  }
  


.form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover {
  background-color: #188ce8;
}

