
.section {
  padding-top: 0px;
}
.option-first {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.option-direction {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.features-title-list {
  margin-right: 30px;

&:last-child {
  margin-right: 0px;
}}
.image-action-decoration {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  top: 225px;
z-index: 10;
}

.image-action {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.product {
  position: relative;
  z-index: 1;
}

.container-option{
  display: none;
  @include mq(desktop){
  display:block;}
}

