

.option-first {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.image-action {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
.image-action-decoration {
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 370px;
  bottom: 0;
  left: 0;

  /* top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
}
.product {
  position: relative;
}
.features-title-list {
  margin-right: 30px;
  position: relative;
}
.features-title-list:last-child {
  margin-right: 0px;
}
.option-direction {
  display: flex;
}
