.header {
  background-color: var(--accent-color);
  border-bottom: 1px solid #ececec;

  &__container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
  align-items: center;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__logo {
    color: var(--brand-color);
  font-style: normal;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
    .logo-color {
      color: var(--title-text-color);
    }
    .logo-color-white {
      color: var(--accent-color);
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__list-item {
    display: flex;
    margin-right: 50px;
    
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      color: var(--brand-color);
    }
    
  }
 
  .link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--title-text-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-current {
    color: var(--brand-color);
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--brand-color);
      position: absolute;
      left: 0;
      bottom: 0;
      
    }

  }
  .link-active {
    text-decoration: none;
    font-style: normal;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
  }
  }

}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }

  &__info {
    color: --grey-cl;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }

  &__icon{
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .link-info:hover .header-icon,
.link-info:focus .header-icon {
  fill: #2196f3;
  }
}
}