.page-style {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  
  color: #212121;
}

.page {
  // background-color: var(--accent-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
}