.main-part{
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
}
.buttons-list{

  display: flex;
  flex-wrap: wrap;

  @include mq(tablet) {
    align-content: center;
    justify-content: center;
    margin-bottom: 14px;
  }
  @include mq(desktop){
  margin-bottom: 50px;}
}

.buttons-list-features {
  display: flex;
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;

}
.buttons-list-features:last-child {
  margin-right: 0px;
}
.button-second {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, color;
}
.button-second:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-link:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-link {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, color;
}
.feauters-main {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-holder-shadow {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, transform;
}
.card-holder-shadow:hover ::before {
  transform: translateY(-35px);
}

.card-holder-shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.feauters-main-list {
  list-style: none;
  width: 370px;
  margin-bottom: 30px;
  align-items: center;
  margin-right: 30px;
}
.feauters-main-list:nth-last-child(3n + 1) {
  margin-right: 0px;
}
.feauters-main-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.feauters-main-list-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: #757575;
}

.feauters-main-list-items {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
}

.non-active {
  color: #212121;
}
.varieties {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}

.card-holder-shadow:hover .image-overlay {
  transform: translate(0);
}

.text-slide {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: white;
  width: 370px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
}
}