.option-first-main {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.container{
  background-color: #F5F4FA;
}
.work{
  background-color: rgba(245, 244, 250, 1);
}
.features-list {
  display: flex;
  align-items: center;
  border-color: #ffffff;
}
.features-title-box {
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
}

.option-first-next {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}
.option-second {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.features-main-boxes {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.features-title-box {
  margin-right: 30px;
}
.features-title-box:last-child {
  margin-right: 0px;
}
.social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-list-item {
  margin-right: 10px;
}
.social-list-item:last-child {
  margin-right: 0px;
}
.social-list .social-media {
  fill: white;
}

.social-list .social-media {
  fill: white;
}
.social-media {
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill, color;
}
.social-media:hover,
.social-media:focus {
  background-color: #2196f3;
}

.features-list .social-media-icons {
  display: flex;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.social-media:hover .social-media-icons,
.social-media:focus .social-media-icons {
  fill: white;
}
.features-list .social-media-icons {
  display: flex;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.social-media:hover .social-media-icons,
.social-media:focus .social-media-icons {
  fill: white;
}

.social-list .social-media {
  fill: white;
}
.social-media {
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill, color;
}
.social-media:hover,
.social-media:focus {
  background-color: #2196f3;
}
