.work {
  background-color: #f5f4fa;
}
.option-first-main {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.features-list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.features-title-box {
  margin-bottom: 30px;
  border-style: solid;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
  border-width: 0px 1px 1px;
  border-color: rgba(245, 244, 250, 1);
  background-color: #f5f4fa;
  border-radius: 0px 0px 4px 4px;
  @include mq(mobile-only) {
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @include mq(tablet) {
    width: 354px;
    margin-right: 30px;
  }
  @include mq(desktop) {
    width: 270px;
  }
}

.option-first-next {
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #fff;
}

.features-main-boxes {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.option-second {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-list-item {
display: block;

&:last-child {
  margin-right: 10px;
}
&:hover,
&:focus{
  border-radius: 50%;
}
}
.social-media {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill, color;

&:hover,
&:focus {
  background-color: #2196f3;
}
}

.features-list .social-media-icons {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

// icons hover 
.social-media:hover .social-media-icons,
.social-media:focus .social-media-icons {
  fill: white;
}

