:root {
  --brand-color: #2196f3;
  --title-text-color: #212121;
  --accent-color: white;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.page {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
}